body {
    margin: 0;
    padding: 0;
    background-color: #182444;
}

.content-area {
    width: 1400px;
    height: 900px;
    background-color: #1b203f;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
}

.row1 {
    overflow: hidden;
    background-color: #0a0d22;
    height: 15%;

    display: flex;
}

.row1 img {
    width: 100px;
    height: 100px;
    padding: 20px;
}

.row1 h1 {
    color: white;
    font-size: 28px;
}

.row2 {
    overflow: hidden;
    background-color: #0a0d22;
    height: 85%;
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.column1 {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
}

.addcolumn1 {
    display: grid;
    overflow: hidden;
}

.addcolumn1 h1 {
    color: white;
    font-size: 20px;
    padding: 10px;
}

.addcolumn2 {

    display: grid;
    overflow: hidden;
}

.addcolumn2 h1 {
    color: white;
    font-size: 20px;
    padding: 10px;
}

.column2 {

    display: grid;
    grid-template-rows: 10% 90%;
}

.addrows1 {
    overflow: hidden;
    align-items: center;
    text-align: center;
}

.addrows1 h1 {
    color: white;
    font-size: 28px;
}

.addrows2 {

    position: relative;
}

.custom-button {
    background-color: #13385f;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 200px;
    height: 50px;
    margin-bottom: 20px;
    display: flex;
    margin-left: 10px;
    align-items: center;
}

.custom-button img {
    margin-right: 20px;
    width: 35px;
    height: 35px;
    border-radius: 5px;
}

.custom-button:hover {
    background-color: #0056b3;
}

.custom-button p {
    color: white;
    margin-top: 20px;
}

.custom-button.active {
    background-color: #007bff;
}

.modal {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 1116px;
    height: 686px;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal1-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #0a0d22;
    padding: 20px;
    width: 100%;
    height: 686px;
    max-width: 1116px;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 100%;
}

.m1cr2 {
    display: grid;
    overflow: hidden;
}

.m1cr2 h1 {
    align-items: center;
    color: white;
}

.m1cr2first {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.m1cr2first1 {
    display: grid;
    grid-template-columns: 75% 25%;
    background-color: #0056b3;
    margin-right: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
}

.m1cr2first1column1 {
    display: flex;
    align-items: center;
}

.m1cr2first1column2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.m1cr2first1column2 button {
    width: 35px;
    height: 35px;
}

.m1cr2first1column1 img {
    width: 60px;
    height: 60px;
    margin-left: 10px;
}

.m1cr2first1column1 p {
    color: black;
    font-size: 22px;
    margin-left: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 120px;
}

.modal2-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #0a0d22;
    padding: 20px;
    width: 100%;
    height: 686px;
    max-width: 1116px;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 10% 90%;
}

.upblock {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.upblockcolumn {
    border: 1px solid white;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    box-shadow: 1px 1px 1px rgb(255, 255, 255);
}

.upblockcolumn p {
    color: white;
    font-size: 18px;
    padding: 5px;
}

.downblock {
    border: 0px solid black;
}

.modal2-content h1 {
    align-items: center;
    color: white;
}

.input1[type="text"] {
    border: 1px solid #000000;
    background-color: white;
    height: 20px;
    margin-left: 10px;
}


.input2[type="text"] {
    border: 1px solid #000000;
    background-color: white;
    height: 20px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

select {
    font-size: 18px;
    background-color: #39476d;
    color: white;
    border: none;
    border-radius: 5px;
    width: 120px;
    text-align: center;
    height: 20px;
    margin-right: 10px;
}

.modal3-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #0a0d22;
    padding: 20px;
    width: 100%;
    height: 686px;
    max-width: 1116px;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 100%;
}

.invupblock {
    border: 1px solid white;
    display: grid;
    grid-template-rows: 30% 70%;
}

.invupblockrow1 {
    border: 1px solid white;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
}

.invupblockrow1 p {
    color: white;
    font-size: 20px;
}

.invupblockrow2 {
    border: 1px solid white;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.invupblockrow2cl {
    border: 1px solid white;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
    background-color: white;
    border-radius: 500px;
    margin-right: 10px;
    margin-left: 10px;
}

.invupblockrow2cl p {
    color: rgb(0, 0, 0);
    font-size: 16px;
}

.invupblockrow2cl button {
    width: 100px;
    height: 50px;
}

.invdownblock {
    display: grid;
    grid-template-rows: 100%;
}

.invdownblockrow2 {
    border: 0px solid white;
}

.m1cr2first11 {
    display: grid;
    overflow: hidden;
    grid-template-columns: 25% 50% 25%;
    background-color: #448d71;
    margin-right: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    margin-left: 15px;
    margin-top: 15px;
    height: 75px;
}

.invinfoc1 {
    border: 1px solid white;
    display: flex;
    align-items: center;
}

.invinfoc1 h1 {
    color: white;
    font-size: 20px;
    overflow: hidden;
    white-space: nowrap;
    padding: 5px;
    text-overflow: ellipsis;
    max-width: 250px;
}

.invinfoc2 {
    border: 1px solid white;
    display: flex;
    align-items: center;
}

.invinfoc2 p {
    color: white;
    font-size: 20px;
    overflow: hidden;
    white-space: nowrap;
    padding: 5px;
    text-overflow: ellipsis;
    max-width: 500px;
}


.invinfoc3 {
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.invinfoc3 button {
    width: 100px;
    height: 25px;
    margin-left: 10px;
    margin-right: 10px;
}

.input3[type="text"] {
    border: 1px solid #000000;
    background-color: white;
    height: 80px;
    margin-left: 10px;

}

.input4[type="text"] {
    border: 1px solid #000000;
    background-color: white;
    height: 30px;
    width: 200px;
    margin-left: 5px;
}

.modal4-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #0a0d22;
    padding: 20px;
    width: 100%;
    height: 686px;
    max-width: 1116px;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 100%;
}

.blockedrow2 {
    border: 0px solid white;
}

.m1cr2first12 {
    display: grid;
    overflow: hidden;
    grid-template-columns: 75% 25%;
    background-color: #448d71;
    margin-right: 300px;
    margin-bottom: 15px;
    border-radius: 5px;
    margin-left: 300px;
    margin-top: 15px;
    height: 75px;
}

.blockedinfoc1 {
    border: 1px solid white;
    display: flex;
    align-items: center;
}

.blockedinfoc1 img {
    width: 50px;
    height: 50px;
    margin-left: 5px;
    overflow: hidden;
}

.blockedinfoc1 p {
    color: white;
    font-size: 22px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 300px;
    margin-left: 10px;
}

.blockedinfoc2 {
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.blockedinfoc2 button {
    width: 100px;
    height: 45px;
    margin-left: 10px;
    margin-right: 10px;
}

nav,
.scroll-container {
    display: block;
    margin: 0 auto;
    text-align: center;
}

nav {
    width: 339px;
    padding: 5px;
    border: 1px solid black;
}

.scroll-container {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.scroll-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 5em;
}

.scroll-container::-webkit-scrollbar {
    width: 12px;
}

.scroll-container::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

.scroll-container::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

.scroll-container::-webkit-scrollbar-thumb:hover {
    background: #485392;
}


.modal6-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #0a0d22;
    padding: 20px;
    width: 100%;
    height: 686px;
    max-width: 1116px;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 10% 90%;
}

.createinvitehead {
    align-items: center;
    justify-content: center;
    text-align: center;
}

.createinvitehead h1 {
    color: white;
    font-size: 24px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

}

.createinvite {
    display: grid;
    grid-template-rows: 90% 10%;
}

.createinvite1row1 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.findcl {
    display: flex;
    align-items: center;
}

.findcl p {
    color: white;
    font-size: 18px;
    margin-right: 5px;
    margin-left: 5px;
}

.createinvite1row2 {
    border: 0px solid white;
}

.createinvite2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.createinvite3 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.createinvite3 button {
    width: 120px;
    height: 40px;
    font-size: 15px;
}

.textarea {
    width: 300px;
    height: 90px;
    resize: none;
    font-size: 15px;
}

.modal7-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #0a0d22;
    padding: 20px;
    width: 100%;
    height: 686px;
    max-width: 1116px;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 10% 90%;
}

.groupsearch {
    display: flex;
    align-items: center;
}

.groupsearch img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.grouppar {
    border: 1px solid white;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.groupparcl1 {
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.groupparcl1 p {
    color: white;
    font-size: 20px;
    margin-right: 5px;
}

.groupparcl2 {
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.groupparcl2 p {
    color: white;
    font-size: 20px;
    margin-right: 5px;
}

.groupres {
    border: 0px solid white;
}

.groupsearch .textare1 {
    width: 200px;
    height: 20px;
    resize: none;
    font-size: 15px;
}

.modal8-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #0a0d22;
    padding: 20px;
    width: 100%;
    height: 686px;
    max-width: 1116px;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 100%;
}

.creategroup {
    display: grid;
    margin-left: 200px;
    margin-right: 200px;
    grid-template-rows: 10% 70% 20%;
}

.creategroupbox {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.creategroupbox p {
    color: white;
    font-size: 20px;
    margin-right: 10px;
}

.creategroupbox button {
    width: 200px;
    height: 80px;
    font-size: 20px;
}



.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.dropdown-content.show {
    display: block;
    opacity: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
    z-index: 1000;
}










/* form starting stylings ------------------------------- */
#hider {
    display: none;
}

.group {
    position: relative;
    margin-bottom: 45px;
}

input {
    font-size: 18px;
    padding: 5px;
    display: block;
    width: 300px;
    border: none;
    border-bottom: 1px solid #757575;
}

input:focus {
    outline: none;
}

/* LABEL ======================================= */
label {
    color: #999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

/* active state */
input:focus~label,
input:valid~label {
    top: -20px;
    font-size: 14px;
    color: #5264AE;
}

/* BOTTOM BARS ================================= */
.bar {
    position: relative;
    display: block;
    width: 300px;
}

.bar:before,
.bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #5264AE;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.bar:before {
    left: 50%;
}

.bar:after {
    right: 50%;
}

/* active state */
input:focus~.bar:before,
input:focus~.bar:after {
    width: 50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}

/* active state */
input:focus~.highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    -moz-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
    from {
        background: #5264AE;
    }

    to {
        width: 0;
        background: transparent;
    }
}

@-moz-keyframes inputHighlighter {
    from {
        background: #5264AE;
    }

    to {
        width: 0;
        background: transparent;
    }
}

@keyframes inputHighlighter {
    from {
        background: #5264AE;
    }

    to {
        width: 0;
        background: transparent;
    }
}