body {
    margin: 0;
    padding: 0;
    background-color: #182444;
}

.area1 {
    width: 1520px;
    height: 200px;
    margin: auto;
    margin-top: 50px;
    display: grid;
    grid-template-columns: 20% 40% 20% 20%;
    background-color: #0a0d22;
}

.area1-column1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.area1-column1 img {
    width: 150px;
    height: 150px;
}

.area1-column4 {
    display: flex;
    align-items: top;
    justify-content: end;
}

.area1-column4 button {
    width: 150px;
    height: 50px;
    background-color: #485392;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    margin-top: 15px;
    margin-right: 15px;
    color: white;
}

.area1-column2 {
    display: grid;
    overflow: hidden;
}

.area1-column2 h1 {
    color: white;
    font-size: 24px;
    margin-left: 10px;
}

.area1-column2 p {
    color: white;
    font-size: 20px;
    margin-left: 10px;
}



.area2 {
    width: 1520px;
    height: 1000px;
    margin: auto;
    margin-top: 50px;
    display: grid;
    grid-template-columns: 25% 75%;
}

.area2-part1 {
    display: grid;
    grid-template-rows: 35% 65%;
}

.area2-part1-online {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    margin-bottom: 10px;
    margin-right: 20px;
    background-color: #0a0d22;
}

.area2-part1-online-row {
    display: flex;
    align-items: center;
    justify-content: left;
    overflow: hidden;
}

.area2-part1-online-row h1 {
    font-size: 24px;
    color: #56c9dd;
    margin-left: 20px;
}

.area2-part1-online-row button {
    width: 200px;
    height: 50px;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    color: white;
    text-align: left;
    font-size: 20px;
    margin-left: 30px;
}

.area2-part1-online-row button:hover {
    background-color: #485392;
}

.area2-part1-friends {
    display: grid;
    grid-template-rows: repeat(7, 1fr);
    background-color: #0a0d22;
    margin-right: 20px;
}

.area2-part1-friends-row1 {
    display: flex;
    align-items: center;
    justify-content: left;
    overflow: hidden;
}

.area2-part1-friends-row1 h1 {
    font-size: 24px;
    color: #56c9dd;
    margin-left: 10px;
    text-decoration: none;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    text-decoration-color: #56c9dd;
    text-decoration-thickness: 2px;
}

.area2-part1-friends-row2 {
    display: grid;
    grid-template-columns: 80% 20%;
    margin-bottom: 15px;
}

.area2-part1-friends-row2-cl1 {
    display: flex;
    align-items: center;
}

.area2-part1-friends-row2-cl1 img {
    width: 55px;
    height: 55px;
    margin-left: 10px;
}

.area2-part1-friends-row2-cl1 p {
    font-size: 20px;
    color: white;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 200px;
    margin-left: 30px;
    white-space: nowrap;
}

.area2-part1-friends-row2-cl2 img {
    height: 50PX;
}


.area2-part2 {
    display: grid;
    grid-template-rows: 10% 90%;
    background-color: #0a0d22;
}

.area2-part2-row1 {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.area2-part2-row1 button {
    color: white;
    font-size: 20px;
    width: 350px;
    height: 50px;
    text-align: center;
    background-color: transparent;
    border: none;
    border-radius: 5px;
}

.area2-part2-row1 button:hover {
    background-color: #182444;
}

.area2-part2-row2 {
    position: relative;
}

.modal1-content {
    background-color: #0a0d22;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 100%;
}

.blockedrow2 {
    display: grid;
    grid-template-columns: 50% 50%;
}

.m1cr2first12 {
    display: grid;
    overflow: hidden;
    grid-template-rows: 50% 50%;
    background-color: #485392;
    margin-bottom: 15px;
    border-radius: 5px;
    margin-top: 15px;
    height: 200px;
    margin-left: 15px;
    margin-right: 15px;
}

.blockedinfoc1 {
    display: grid;
    grid-template-columns: 50% 50%;
}

.blockedinfoc1-1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.blockedinfoc1-1 img {
    width: 90px;
    height: 90px;
    margin-left: 5px;
    overflow: hidden;
}

.blockedinfoc1-1 p {
    color: white;
    font-size: 18px;
    overflow: hidden;

    text-overflow: ellipsis;
    max-width: 200px;
    margin-left: 10px;
}

/*<!-- Check publications -->*/


.modal2-content {
    background-color: #1f2446;
    padding: 20px;
    margin: 20px;
    height: 800px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.publication-box {
    display: flex;
    align-items: center;
    gap: 100px;
    width: 100%;
    height: 100%;
    justify-content: center;
}

.arrow-button {
    background-color: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #ffffff;
    transition: transform 0.3s, color 0.3s;
}

.arrow-button:hover {
    transform: scale(1.2);
    color: #f0c040;
}

.publication-box-mid {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    max-width: 660px;
    height: 100%;
    justify-content: space-between;
}

.publication-box-mid-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-height: 70%;
    flex-grow: 1;
}

.publication-box-mid-photo img {
    max-width: 100%;
    max-height: 100%;
    width: 660px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    object-fit: cover;
}

.publication-box-mid-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 30%;
    max-width: 500px;
    text-align: center;
    padding-top: 10px;
    box-sizing: border-box;
}

.publication-box-mid-info p {
    color: #ffffff;
    font-size: 18px;
    margin: 5px 0;
}
/*<!-- Check publications -->*/

.modal3-content {
    background-color: #0a0d22;
    padding: 20px;
    width: 100%;
    max-width: 1062px;
    height: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 100%;
}

nav,
.scroll-container {
    display: block;
    margin: 0 auto;
    text-align: center;
}

nav {
    width: 339px;
    padding: 5px;
    border: 1px solid black;
}

.scroll-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    scroll-behavior: smooth;
    flex-direction: column;
}


.scroll-container::-webkit-scrollbar {
    width: 12px;
}

.scroll-container::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

.scroll-container::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

.scroll-container::-webkit-scrollbar-thumb:hover {
    background: #485392;
}

.modal {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    justify-content: center;
    align-items: center;
}

.area3 {
    width: 1520px;
    height: 500px;
    margin: auto;
    margin-top: 50px;
    display: grid;
    grid-template-rows: 12% 76% 12%;
    background-color: #0a0d22;
    color: white;
    margin-bottom: 25px;
}

.area3-head {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.area3-head h1 {
    color: white;
    font-size: 22px;
}

.area3-mid {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
}

.area3-mid-rows {
    display: grid;
    grid-template-columns: 20% 80%;
}

.area3-mid-rows-cl1 {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.area3-mid-rows-cl2 {
    display: flex;
    align-items: center;
    justify-content: left;
    overflow: hidden;
}

.area3-mid-rows-cl1 img {
    width: 100px;
    height: 100px;
}

.area3-mid-rows-cl2 p {
    color: white;
    font-size: 20px;
    margin-left: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 500px;
}

.area3-mid-rows-cl2 h1 {
    color: white;
    font-size: 20px;
    margin-left: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
    white-space: nowrap;
}

.area3-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.area3-bottom button {
    width: 30px;
    height: 30px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: #1a1f39;
    color: white;
    cursor: pointer;
}











/*  Edit profil   */
.modal-edit-profile {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal1-edit-content {
    background-color: #fff;
    padding: 20px;
    width: 80%;
    max-width: 600px;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    margin: auto;
    position: relative;
}


.edit-window {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.edit-window-row1 {
    text-align: center;
    margin-bottom: 20px;
}

.edit-window-row1 h1 {
    color: #333;
    font-size: 24px;
    margin: 0;
}

.edit-window-row2 {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.edit-window-row2-cl1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.edit-window-row2-cl1 img {
    width: 70px;
    height: 70px;
}

.edit-window-row2-cl1 button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.edit-window-row2-cl2 {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.edit-window-row2-cl2-rows {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.edit-window-row2-cl2-rows p {
    margin: 0;
    color: #333;
    font-size: 16px;
}

.textarea3,
.textarea2 {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    overflow: hidden;
}

.textarea3 {
    height: 40px;
    font-size: 16px;
}

.textarea2 {
    height: 40px;
    font-size: 16px;
}

.edit-window-row2-cl2-rows-end {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.buttonforedit1,
.buttonforedit2 {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.buttonforedit1 {
    background-color: #6c757d;
}

.buttonforedit2 {
    background-color: #007bff;
}

.image-container {
    position: relative;
    width: 150px;
    height: 150px;
}

#profilePhoto {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #007bff;
}

.photo-buttons {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

#changePhotoButton,
#removePhotoButton {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

#removePhotoButton {
    background-color: #dc3545;
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}
/*  Edit profil   */


/*  Make publication   */
.modal-create-post {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal1-create-content {
    background-color: #fff;
    padding: 20px;
    width: 80%;
    max-width: 600px;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    margin: auto;
    position: relative;
}

.create-window {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 700px;
}

.create-window-row1 {
    text-align: center;
    margin-bottom: 20px;
}

.create-window-row1 h1 {
    color: #333;
    font-size: 24px;
    margin: 0;
}

.create-window-row2 {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.create-window-row2-cl1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.create-window-row2-cl1 img {
    width: auto;
    height: auto;
    max-width: 350px;
    max-height: 350px;
    object-fit: cover;
}

.create-window-row2-cl1 button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.create-window-row2-cl2 {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.create-window-row2-cl2-rows {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.create-window-row2-cl2-rows p {
    margin: 0;
    color: #333;
    font-size: 16px;
}

.textarea2 {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    overflow: hidden;
    height: 100px;
}

.create-window-row2-cl2-rows-end {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.buttonforcreate1,
.buttonforcreate2 {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.buttonforcreate1 {
    background-color: #6c757d;
}

.buttonforcreate2 {
    background-color: #007bff;
}

.image-container {
    position: relative;
    justify-content: center;
    width: 350px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#postPhoto {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #007bff;
}

.photo-buttons {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

#uploadPhotoButton {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

/*  Make publication   */

/*  Overlay Photo   */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.5);
    transition: opacity 0.3s;
}

.overlay-image {
    width: 50px;
    height: 50px;
    opacity: 0.7;
}

.image-container:hover .overlay {
    opacity: 1;
}
/*  Overlay Photo   */





.no-scroll {
    overflow: hidden;
}





/* Check meetings */
.meetup-list {
    margin-top: 30px;
    width: 100%;
    max-width: 900px;
    column-gap: 20px;
    display: flex;
    flex-wrap: wrap;
}

.meetup-card {
    width: calc(50% - 10px);
    background-color: #ffffff;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    position: relative;
    flex-grow: 1;
}

.meetup-header {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #4A90E2;
    color: white;
}

.organizer-photo {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 20px;
    object-fit: cover;
}

.organizer-info {
    display: flex;
    flex-direction: column;
}

.organizer-name {
    font-size: 20px;
    margin: 0;
    font-weight: bold;
}

.organizer-country {
    font-size: 14px;
    margin: 5px 0 0;
}

.meetup-body {
    padding: 20px;
}

.meeting-title {
    font-size: 24px;
    margin: 0 0 10px;
    color: #333;
}

.meeting-description {
    font-size: 16px;
    margin: 0 0 30px;
    color: #666;
}

.meetup-details {
    display: flex;
    flex-direction: column;
    padding: 0 30px;
}

.detail-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.detail-label {
    font-weight: bold;
    color: #333;
}

.detail-value {
    color: #666;
}

.meetup-actions {
    display: flex;
    justify-content: flex-end;
    padding: 10px 20px 20px;
}

.meetup-actions button {
    margin-left: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.accept-btn {
    background-color: #4CAF50;
    color: white;
}

.reject-btn {
    background-color: #f44336;
    color: white;
}

.accepted-check {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 24px;
    color: #4CAF50;
}
/* Check meetings */







/* Make meetings  */
.modal-create-meeting {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal1-edit-content-meeting {
    background-color: #fff;
    padding: 20px;
    width: 80%;
    max-width: 950px;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    margin: auto;
    position: relative;
}

.container-meeting {
    width: 90%;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.title-meeting {
    text-align: center;
    color: #333;
}

.form-container {
    display: flex;
    justify-content: space-between;
}

.form-left {
    width: 45%;
    display: flex;
    flex-direction: column;
}

.friends-right {
    width: 45%;
    display: flex;
    flex-direction: column;
}

form div,
.friends-right div {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

input[type="text"],
input[type="datetime-local"],
input[type="number"],
textarea,
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 18px;
}

textarea {
    height: 100px;
    resize: vertical;
}

.button-meeting {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.button-meeting:hover {
    background-color: #45a049;
}

.friend-checkbox {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.friend-checkbox img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.friend-checkbox label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.friend-checkbox input {
    margin-right: 10px;
}

textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    height: 43px;
    resize: none;
    overflow: hidden;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    font-size: 30px;
    cursor: pointer;
    color: #333;
}

.close-button:hover {
    color: #f00;
}

/* Make meetings  */

