body {
    margin: 0;
    padding: 0;
}

.button {
    width: 200px;
    height: 100px;
    margin-left: 100px;
    margin-top: 100px;
    background-color: black;
    color: white;
}

.modal-group-settings {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 100;
    /* Ensure the modal is on top */
}

.modal1-group-settings {
    background-color: #f0f0f0;
    padding: 20px;
    width: 1000px;
    height: 700px;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    margin: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    display: grid;
    grid-template-columns: 25% 75%;
    border: 1px solid black;
}

.cl1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.cl1 img {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    margin-top: 15px;
}

.cl1 button {
    width: 200px;
    height: 40px;
    border: 1px solid black;
    margin-top: 15px;
    cursor: pointer;
}

.cl2 {
    display: grid;
    grid-template-rows: 20% 60% 20%;
    padding: 10px;
}

.cl2-row1 {
    display: grid;
    grid-template-columns: 50% 50%;
}

.cl2-row1-c1 {
    display: grid;
    justify-content: left;
    align-items: center;
}

.cl2-row1-c1 h1 {
    color: black;
    font-size: 20px;
    overflow: hidden;
    margin-left: 10px;
    height: 22px;
}

.textarea {
    width: 200px;
    height: 30px;
    resize: none;
    border: 1px solid black;
    margin-left: 10px;
}

.cl2-row1-c2 {
    display: flex;
    justify-content: right;
    align-items: top;
}

.cl2-row1-c2 button {
    width: 50px;
    height: 50px;
    cursor: pointer;
    font-size: 18px;
    border: none;
    margin-top: 5px;
    margin-right: 5px;
}

.cl2-row2 {
    display: grid;
    grid-template-columns: 70% 30%;
}

.cl2-row2-box {
    display: grid;
    grid-template-rows: 80% 20%;
}

.cl2-row2-box-r1 {
    overflow: hidden;
    display: flex;
    position: relative;
    /* Ensure positioning context */
}

.scroll-container {
    width: 100%;
    height: 100%;
    max-height: 300px;
    overflow-y: auto;
    scroll-behavior: smooth;
}

.scroll-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.cl2-row2-box-r2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cl2-row2-box-r2 button {
    width: 300px;
    height: 40px;
    border: 1px solid black;
    cursor: pointer;
}

.cl2-row3 {
    display: flex;
    justify-content: right;
    align-items: end;
}

.cl2-row3 button {
    width: 100px;
    height: 50px;
    cursor: pointer;
    border: 1px solid black;
    margin-bottom: 5px;
    margin-right: 5px;
}

.cl2-row3 button:hover {
    background-color: rgb(115, 163, 115);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.scroll-container::-webkit-scrollbar {
    width: 12px;
}

.scroll-container::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

.scroll-container::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

.scroll-container::-webkit-scrollbar-thumb:hover {
    background: #485392;
}

.row {
    text-align: center;
    height: 50px;
    display: grid;
    grid-template-columns: 25% 50% 25%;
}

.row-c {
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.row-c img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid black;
}

.row-c button {
    width: 30px;
    height: 30px;
    border: 1px solid black;
    cursor: pointer;
    margin-left: 3px;
    margin-right: 3px;
}